
services:
  horgaszapp:
    image: localhost:5000/matehorgapp
    networks:
      - horgaszapp-network
      - traefik_network
    depends_on:
      - mysql
    restart: unless-stopped
    volumes:
      - "/opt/secrets/208149032/1103380314/app_key:/run/secrets/app_key:ro"
      - "/opt/secrets/208149032/1103380314/mail_password:/run/secrets/mail_password:ro"
      - "horgaszapp-storage-public:/var/www/html/storage/app/public"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.horgaszapp.rule=Host(`horgaszapp.abrdns.com`)"
      - "traefik.http.routers.horgaszapp.tls=true"
      - "traefik.http.services.horgaszapp.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik_network"
  mysql:
    image: 'mysql/mysql-server:8.0'
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: 'root' 
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: 'horgaszapp'
      MYSQL_USER: 'horgaszapp'
      MYSQL_PASSWORD: 'horgaszapp'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_EXTRA_OPTIONS: '${MYSQL_EXTRA_OPTIONS:-}'
    volumes:
      - 'sail-mysql:/var/lib/mysql'
    networks:
      - horgaszapp-network
networks:
  horgaszapp-network:
    driver: bridge
    enable_ipv6: true
  traefik_network:
    external: true
volumes:
  sail-mysql:
    driver: local
  horgaszapp-storage-public:
    driver: local