name: Build and Push HorgaszApp Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Build and Push (ARM64, Sail Dockerfile)
        run: |
          cd "${{ github.workspace }}"
          docker buildx build \
            --platform=linux/arm64 \
            -f "${{ github.workspace }}/vendor/laravel/sail/runtimes/8.2/Dockerfile" \
            -t localhost:5000/horgasz-app:latest \
            --push \
            .
